
// COLORS
$COLOR_CORAL: #f5c0a7;
$COLOR_MAIN_TEXT: #000;
$COLOR_GRAY_MAIN: #D9D9D9;
$COLOR_GRAY_DARK: #777;
$COLOR_BLUE: #ABA9FF;

// WIDTH
$WIDTH_CONTAINER_MAX: 1190px;
$WIDTH_PHONE_SMALL: 320px;
$WIDTH_PHONE_LARGE: 425px;
$WIDTH_TABLET_SMALL: 768px;
$WIDTH_TABLET_LARGE: 1024px;